In [1]:
my_list = [1, 2, 3, 4, 5]

In [3]:
for number in my_list:
    print(number)

1
2
3
4
5

In [4]:
for item in my_list:
    new_number = item * 5
    print(new_number)

5
10
15
20
25

In [5]:
for number in my_list:
    print("hello")

hello
hello
hello
hello
hello

In [6]:
for item in my_list:
    if item % 2 == 0:
        print(item)

2
4

In [7]:
if 2 in my_list:
    print("true")

true

In [9]:
for num in my_list:
    if num == 2:
        print("true")

true

In [10]:
my_string = "James Hetfield"

In [11]:
for letter in my_string:
    print(letter)

J
a
m
e
s

H
e
t
f
i
e
l
d

In [12]:
my_tuple = {1, 2, 3}

In [14]:
for item in my_tuple:
    print(item * 5 - 10)

-5
0
5

In [32]:
my_new_list = [("a", "b"), ("c","d"), ("e", "f"), ("g", "h")]

In [33]:
for element in my_new_list:
    print(element)

('a', 'b')
('c', 'd')
('e', 'f')
('g', 'h')

In [34]:
for (x,y) in my_new_list:
    print(x)
    print(y)

a
b
c
d
e
f
g
h

In [30]:
my_tuple_list = [(0,1,2),(3,4,5),(9,10,11)]

In [31]:
for (x,y,z) in my_tuple_list:
    print(z)

2
5
11

In [35]:
my_dict = {"key1" : 100, "key2" : 200, "key3" : 300}

In [40]:
for key,value in my_dict.items():
    print(value)

100
200
300